# enviromental directories:

# tomcat home dir (only if you need to run online demo app)
dir.tomcat=c:\\dev_tools\\tomcat\\5.5.9

# input dir (with xchords library XML file - you have one as starting in /data subdirectory)
dir.xchords.in=data
#dir.xchords.in=d:\\data\\xchords\\in

# output dir (where appropriate folder with content would be generated)
#dir.xchords.out=g:\\projects\\workspace-sts\\xchords\\out
#dir.xchords.out=/home/miira/my/xchords/out
dir.xchords.out=/Users/miira/Documents/prj/xchords/out

# FOP home directory
dir.fop.home=C:\\dev_tools\\fop\\0.20.4

# BATIK home directory
dir.batik.home=D:\\dev\\batik-1.7

# ANT home directory (not needed, really - just because of some test)
#dir.ant.home=C:\\dev_tools\\ant\\1.6.1

